@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-link {
        @apply text-blue-500 hover:text-blue-600 font-medium underline
    }
}

/* Анимации для модального окна */
.modal-enter-active,
.modal-leave-active {
    transition: opacity 0.3s ease;
}

.modal-enter-from,
.modal-leave-to {
    opacity: 0;
}

.modal-enter-active .bg-white,
.modal-leave-active .bg-white {
    transition: transform 0.3s ease;
}

.modal-enter-from .bg-white,
.modal-leave-to .bg-white {
    transform: scale(0.95);
}